@import '../../variables';

.ThankYouForDonating {
  color:$un-blue-text;

  h3 {
    margin: 0;
    padding: 60px 0 50px 0;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'montserratlight', san-serif;
    color:$un-blue-text;
    text-align: center;
  }

  hr {
    margin: 80px auto 152px auto;
    width: 80%;
  }

  .button {
    width: 270px;
    border-radius: 4px;
    background: $un-blue-bg;
    padding: 22px 0;
    margin: 0 auto 18px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display:block;
    border: 1px solid $white-base;
    background: $un-blue-bg;
    color: $white-base;
    &.active {
      background: $white-base;
      color: $un-blue-text;
      cursor: default;
    }
  }

  .button:hover {
    background: $white-base;
    color: $un-blue-text;
    border: 1px solid $un-blue-bg;
    &.active {
      background: $white-base;
      color: $un-blue-text;
      cursor: default;
      border: 1px solid $white-base;
    }
  }

  .moreStoriesButton {
    width: 270px;
    border-radius: 4px 0 0 4px;
    background: $un-blue-bg;
    padding: 22px 0;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    display:inline-block;
    border: 1px solid $white-base;
    background: $un-blue-bg;
    color: $white-base;
    &.active {
      background: $white-base;
      color: $un-blue-text;
    }
  }

  .moreStoriesButton:hover {
    background: $white-base;
    color: $un-blue-text;
    border: 1px solid $un-blue-bg;
  }
}
