<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>World Humanitarian Day</title>
    <meta name="description" content="Donate your feed for a day and give a voice to the voiceless. Tell an inspiring story from a person affected by a humanitarian crisis and help inspire the world's humanity:http://www.worldhumanitarianday.org #sharehumanity #whd2015">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="http://www.worldhumanitarianday.org" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <style id="css"><%= css %></style>

    <!-- OPEN GRAPH TAGS-->
    <meta property="og:url"           content="http://www.worldhumanitarianday.org/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="World Humanitarian Day" />
    <meta property="og:description"   content="Donate your feed for a day and give a voice to the voiceless. Tell an inspiring story from a person affected by a humanitarian crisis and help inspire the world's humanity:http://www.worldhumanitarianday.org #sharehumanity #whd2015" />
    <meta property="og:image"         content="http://www.worldhumanitarianday.org/images/home/WHD-600x600.jpg" />

  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="app"><%= body %></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.7/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.equalizer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js"></script>
    <script src="/app.js"></script>
    <script>
      $(document).foundation();
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-65891380-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <!-- DoubleClick Floodlight Tag: Please do not remove -->
    <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="https://5011515.fls.doubleclick.net/activityi;src=5011515;type=unite0;cat=about0;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
        <iframe src="https://5011515.fls.doubleclick.net/activityi;src=5011515;type=unite0;cat=about0;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
  </body>
</html>
