.VideoPlayer {
  //background: #9900FF;/* Box with fixed aspect ratio */
  iframe {
    border: none !important
  }

  .ratioBox {
    position: relative;
    width: 100%;
  }

  .ratioBox:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
  }

  .ratioContent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .ratio16_9:before{
    padding-top: 56.25%;
  }
  /* Box with fixed aspect ratio */
}