@import '../../variables';

.DonateFacebookItem {
  p {
    font-size: 14px;
    color: $un-blue-text;
    display: inline-block;
    display: inline-block;
    &.desc {
      margin: 0;
    }
  }
  img {
    margin: 10px 0 0 0;
  }
  label {
    color: #777777;
    padding: 12px 0 4px 0;
  }
  input[type='checkbox'] {
    margin: 6px 10px 0 0;
    float: right;
  }
  textarea {
    margin: 18px 0 0 0;
    float: right;
    height: 232px;
  }
  .copyFB {
    font-size: 12px;
    color: #777777;
    display: inline-block;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .copyFB:hover {
    color: $un-blue-text;
  }
}