@import '../../variables.scss';

/* FONTS INCLUDE Start. ***********************************************************************/
@font-face {
  font-family: 'montserratbold';
  src: url('/fonts/montserrat-bold-webfont.eot');
  src: url('/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('/fonts/montserrat-bold-webfont.woff') format('woff'),
  url('/fonts/montserrat-bold-webfont.ttf') format('truetype'),
  url('/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url('/fonts/montserrat-regular-webfont.eot');
  src: url('/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('/fonts/montserrat-regular-webfont.woff') format('woff'),
  url('/fonts/montserrat-regular-webfont.ttf') format('truetype'),
  url('/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url('/fonts/montserrat-light-webfont.eot');
  src: url('/fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('/fonts/montserrat-light-webfont.woff') format('woff'),
  url('/fonts/montserrat-light-webfont.ttf') format('truetype'),
  url('/fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* FONTS INCLUDE End. ***********************************************************************/

.fadeAll25 {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@-webkit-keyframes openAnimation {
  0% {
    -webkit-transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}


.DonorCell {
  background: $white-base;
  //border: 1px solid $un-blue-bg;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding: 4px;
  box-sizing: border-box;

  .overlay {
    z-index: 30;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    &.offsetLeft {
      -webkit-transform-origin: 100% 50%;
      -webkit-animation: openAnimation 0.25s both ease-out;
    }

  }

  .name, .time {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    color: $un-blue-text;
    font-size: 16px;
  }

  .name {
    font-family: 'montserratbold', san-serif;
  }

  .time {
    font-family: 'montserratlight', san-serif;
  }

  .vertAlign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .ratioBox {
    position: relative;
    width: 100%;
  }

  .ratioBox:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
  }

  .ratioContent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .ratio1_1:before{
    padding-top: 100%;
  }
  /* Box with fixed aspect ratio */
}


@media only screen and (max-width: 768px) {
  .DonorCell {
    .name, .time {
      font-size: 2vw;
    }
  }
}

@media (min-width:769px) and (max-width:1279px){
  .DonorCell {
    .name, .time {
      font-size: 1.3vw;
    }
  }
}
